<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: roboto;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Roshan's Diary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About us</a>
                </li>
            </ul>
            <a class="btn btn-outline-success my-2 my-sm-0">Login</a>
            <a class="btn btn-outline-success my-2 my-sm-0">Signup</a>
            <a class="btn btn-outline-success my-2 my-sm-0">Logout</a>
        </div>
    </nav>
    <h1>
        <center>Roshan's Blog</center>
    </h1>
    <div style="text-align: center;">
        <a href="{% url 'add'%}" class="btn btn-success">Add Blog</a>
        <a href="{% url 'delete-all'%}" class="btn btn-danger">Delete all</a>
    </div>
    <br>

    {% block content%}

    {% endblock %}
</body>

</html>